
body {
    margin: 0;
    padding: 0;
}


/* bootstrap */
.text-darkblue {
    color: #004a90;
}

h2 {
    color: #004990;
}





.js_entire_wrap {
    margin: 0 auto;
    margin-top: 30px;
    /* max-width: 1140px; */
}
.js_header_image {
    width: 100%;
}





.COPY_THIS_CONTAINER_TO_BLOOMREACH {
    width: auto;
}
.header_image_wrap {
    margin-top: 15px !important;
    width: 100%;
}
.header_image_wrap img {
    width: 100%;
}



.js_footer_wrap {
    margin-top: 15px;
    background-color: #242936;
    height: 350px;
    width: 100%;
}
.js_bottom_wrap {
    background-color: #e4ebf1;
    height: 150px;
    width: 100%;
}

#copyButton {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    background-color: #1f3962;
}
#copybutton:hover {
    background-color: #156dba;
}