
body {
    margin: 0;
    padding: 0;
}


/* bootstrap */
.text-darkblue {
    color: #004a90;
}
h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h2 {
    color: #004990;
}





.js_entire_wrap {
    margin: 0 auto;
    margin-top: 30px;
    /* max-width: 1140px; */
}
.js_header_image {
    width: 100%;
}
.js_header_container {
    padding: 10px 0 0 0;
    margin-bottom: 10px;
}
.js_header_container:hover .js_header_container_overlay {
    opacity: 1;
}
.js_header_container_overlay {
    opacity: 0;
    position: absolute; 
    background-color: #ff0000;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: white;
}
.js_header_container:hover {
    background-color: #ff0000;
}
.js_header_container:hover img {
    filter: brightness(1.75);
}





.COPY_THIS_CONTAINER_TO_BLOOMREACH {
    width: auto;
}
.header_image_wrap {
    margin-top: 15px !important;
    width: 100%;
}
.header_image_wrap img {
    width: 100%;
}



.js_footer_wrap {
    margin-top: 15px;
    background-color: #242936;
    height: 350px;
    width: 100%;
}
.js_bottom_wrap {
    background-color: #e4ebf1;
    height: 150px;
    width: 100%;
}




#js_tools_wrap {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #d4e4f2;
    font-size: 0.9em;
    /* transition: all .15s ease-out; */
}
#copyButton {
    pointer-events: auto;
    color: #1970bc;
    border: 1px solid #1970bc;
    padding: 4px 10px;
    border-radius: 9999px;
    transition: all .15s ease-out;
}
#copyButton:hover {
    /* background-color: #1391ff !important; */
    color: black;
    padding: 3px 10px 5px 10px;
    border-bottom-width: 4px;
    border-color: black;
}









