
body {
    margin-top: 50px;
    padding: 0;
}


/* bootstrap */
.text-darkblue {
    color: #004a90;
}

h2 {
    color: #004990;
}





.js_entire_wrap {
    margin: 0 auto;
    margin-top: 30px;
    /* max-width: 1140px; */
}
.js_header_image {
    width: 100%;
}





.COPY_THIS_CONTAINER_TO_BLOOMREACH {
    width: auto;
}
.header_image_wrap {
    margin-top: 15px !important;
    width: 100%;
}
.header_image_wrap img {
    width: 100%;
}



.js_footer_wrap {
    margin-top: 15px;
    background-color: #242936;
    height: 350px;
    width: 100%;
}
.js_bottom_wrap {
    background-color: #e4ebf1;
    height: 150px;
    width: 100%;
}

#js_tools_wrap {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #dddddd1e;
    width: 100%;
}
#copyButton {
    background-color: white !important;
    color: black;
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 9999px;
}
#copybutton:hover {
    background-color: #1391ff !important;
    color: white;
    border-color: #1f3962;
}
#adminmenu li.menu-top:hover, 
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus, 
.menu li li a:hover, 
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
.menu ul ul .custom-class a,
.menu ul ul .custom-class:hover a {
    background-color: #103465 !important;
}